<div class="">
  <!-- <div class="search-div">
    <span>产品编号</span>
    <input type="text" [(ngModel)]='proName'>
    <span>团队编号</span>
    <input type="text" [(ngModel)]='proCode'>
    <span>交易账户</span>
    <input type="text" [(ngModel)]='proCode'>
    <br><br>
    <span>委托编号</span>
    <input type="text" [(ngModel)]='proCode'>
    <span>交易日期</span>
    <input type="date" [(ngModel)]='proCode'>
    <span>~</span>
    <input type="date" [(ngModel)]='proCode'>
    <button class="button" (click)='search()'>查询</button>
  </div> -->
  <div class="search-div">
    <span> 交易员账户</span>
    <input type="text" [(ngModel)]='userCode'>
    <button class="button" (click)='search()'>查询</button>
    <button (click)='searchAll()'>查询全部</button>
  </div>
  <div class="action-button">
    <button (click)='export()'>导出列表</button>
  </div>

  <div class="table-div my-scroll">
    <table class="my-table">
      <tr>
        <th>
          序号
        </th>
        <th>
          委托时间
        </th>
        <th>
          产品编号
        </th>
        <th>
          交易账号
        </th>
        <th>
          交易员姓名
        </th>
        <th>
          委托编号
        </th>
        <th>
          股票代码
        </th>
        <th>
          股票名称
        </th>
        <th>
          委托数量
        </th>
        <th>
          委托价格
        </th>
        <th>
          成交数量
        </th>
        <th>
          成交均价
        </th>
        <th>
          委托状态
        </th>
        <th>
          买卖方向
        </th>
        <th>
          团队编号
        </th>
        <th>
          备注信息
        </th>
        <th>
          委托标志
        </th>
        <th>
          委托PK
        </th>
        <th style="min-width: 60px;" *ngIf='roleCode!==0'>
          操作
        </th>
      </tr>
      <tr *ngFor='let a of list;let i = index' class="{{a.appointTypeDesc === '买入'?'red':'green'}}">
        <td>
          {{i + 1}}
        </td>
        <td>
          {{a.appointTime}}
        </td>
        <td>
          {{a.productCode}}
        </td>
        <td>
          {{a.accountCode}}
        </td>
        <td>
          {{a.accountName}}
        </td>
        <td class="wtbh">
          {{a.appointOrderCode}}
        </td>
        <td>
          {{a.stockCode}}
        </td>
        <td>
          {{a.stockName}}
        </td>
        <td>
          {{a.appointCnt}}
        </td>
        <td>
          {{a.appointPrice}}
        </td>
        <td>
          {{a.dealCnt}}
        </td>
        <td>
          {{a.dealAvrPrice}}
        </td>
        <td>
          {{a.appointStatusDesc}}
        </td>
        <td>
          {{a.appointTypeDesc}}
        </td>
        <td>
          {{a.teamCode}}
        </td>
        <td>
          {{a.memo}}
        </td>
        <td>
          {{a.isVritualDesc}}
        </td>
        <td>
          {{a.pkOrder}}
        </td>
        <td *ngIf='roleCode!==0'>
          <span (click)='update(a)'>修改</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="fpjyy-alert" *ngIf='alert'>
    <div class="alert-title">
      委托
      <img class="close-btn" src="./assets/images/close.png" alt="" (click)='close()'>
    </div>
    <div class="alert-div">
      <div class="flex-alert">
        <div class="flex-name">
          委托时间
        </div>
        <div class="flex-content">
          <input type="text" readonly [(ngModel)]='accountDetail.appointTime'>
        </div>
        <div class="flex-name">
          产品编号
        </div>
        <div class="flex-content">
          <input type="text" readonly [(ngModel)]='accountDetail.productCode'>
        </div>
      </div>
      <div class="flex-alert">
        <div class="flex-name">
          交易账号
        </div>
        <div class="flex-content">
          <input type="text" readonly [(ngModel)]='accountDetail.accountCode'>
        </div>
        <div class="flex-name">
          委托编号
        </div>
        <div class="flex-content">
          <input type="text" maxlength="32" [(ngModel)]='accountDetail.appointOrderCode'>
        </div>
      </div>
      <div class="flex-alert">
        <div class="flex-name">
          股票代码
        </div>
        <div class="flex-content">
          <input type="text" readonly [(ngModel)]='accountDetail.stockCode'>
        </div>
        <div class="flex-name">
          委托数量
        </div>
        <div class="flex-content">
          <input type="text" readonly [(ngModel)]='accountDetail.appointCnt'>
        </div>
      </div>
      <div class="flex-alert">
        <div class="flex-name">
          委托价格
        </div>
        <div class="flex-content">
          <input type="text" readonly [(ngModel)]='accountDetail.appointPrice'>
        </div>
        <div class="flex-name">
          成交数量
        </div>
        <div class="flex-content">
          <input type="text" [(ngModel)]='accountDetail.dealCnt'>
        </div>
      </div>
      <div class="flex-alert">
        <div class="flex-name">
          成交均价
        </div>
        <div class="flex-content">
          <input type="text" [(ngModel)]='accountDetail.dealAvrPrice'>
        </div>
        <div class="flex-name">
          买卖方向
        </div>
        <div class="flex-content">
          <input type="text" readonly [(ngModel)]='accountDetail.appointTypeDesc'>
        </div>
      </div>
      <div class="flex-alert">
        <div class="flex-name">
          团队编码
        </div>
        <div class="flex-content">
          <input type="text" readonly [(ngModel)]='accountDetail.teamCode'>
        </div>
        <div class="flex-name">
          备注信息
        </div>
        <div class="flex-content">
          <input type="text" readonly [(ngModel)]='accountDetail.memo'>
        </div>
      </div>
      <div class="flex-alert">
        <div class="flex-name">
          委托日期
        </div>
        <div class="flex-content">
          <input type="text" readonly [(ngModel)]='accountDetail.orderDate'>
        </div>
        <div class="flex-name">
          委托PK
        </div>
        <div class="flex-content">
          <input type="text" readonly [(ngModel)]='accountDetail.pkOrder'>
        </div>
      </div>
      <div class="flex-alert">
        <div class="flex-name">
          委托标志
        </div>
        <div class="flex-content">
          <input type="text" readonly [(ngModel)]='accountDetail.isVritualDesc'>
        </div>
        <div class="flex-name">
          委托状态
        </div>
        <div class="flex-content">
          <select name="" id="" [(ngModel)]='accountDetail.appointStatus'>
            <option [value]="a.id" *ngFor='let a of statusType'>{{a.name}}</option>
          </select>
        </div>
      </div>
      <div class="button-div">
        <button (click)='addSubmit()'>确定</button>
        <button (click)='close()'>取消</button>
      </div>
    </div>
  </div>