<div class="content-table">
  <div class="action-button">
    <button>还券给团队</button>
  </div>
  <div class="table-div my-scroll">
    <table class="my-table">
      <tr>
        <th>
          <input type="checkbox" name="" id="">
        </th>
        <th>
          股票代码
        </th>
        <th>
          股票名称
        </th>
        <th>
          初始分配数量
        </th>
        <th>
          可归还数量
        </th>
        <th>
          本次归还数量
        </th>
        <th>
          产品编号
        </th>
        <th>
          产品名称
        </th>
        <th>
          分配交易员账号
        </th>
        <th>
          分配交易员姓名
        </th>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="" id="">
        </td>
        <td>
          33434
        </td>
        <td>
          33434
        </td>
        <td>
          33434
        </td>
        <td>
          33434
        </td>
        <td>
          33434
        </td>
        <td>
          33434
        </td>
        <td>
          33434
        </td>
        <td>
          33434
        </td>
        <td>
          33434
        </td>
      </tr>
    </table>
  </div>
</div>