<div class="">
  <div class="search-div">
    <select name="" id="" [(ngModel)]='selectType'>
      <option value="{{a.id}}" *ngFor='let a of selectList'>{{a.name}}</option>
    </select>
    <input type="text" [(ngModel)]='userCode'>
    <button class="button" (click)='search()'>查询</button>
    <button (click)='searchAll()'>查询全部</button>
  </div>
  <div class="action-button">
    <button (click)='export()'>导出列表</button>
  </div>
  <div class="table-div my-scroll" (scroll)='onScroll($event)'>
    <table class="my-table">
      <tr>
        <th>
          序号
        </th>
        <th (click)='sortList("dealTime","string")'>
          成交时间
          <img src="./assets/images/sort.png" alt="" class='sortIcon'>
        </th>
        <th>
          成交编号
        </th>
        <th>
          委托编号
        </th>
        <th (click)='sortList("stockCode","num")'>
          股票代码
          <img src="./assets/images/sort.png" alt="" class='sortIcon'>
        </th>
        <th (click)='sortList("stockName","string")'> 
          股票名称
          <img src="./assets/images/sort.png" alt="" class='sortIcon'>
        </th>
        <th>
          买卖方向
        </th>
        <th (click)='sortList("dealCnt","num")'>
          成交数量
          <img src="./assets/images/sort.png" alt="" class='sortIcon'>
        </th>
        <th>
          成交均价
        </th>
        <th>
          团队编号
        </th>
        <th>
          产品编号
        </th>
        <th>
          交易账号
        </th>
        <th (click)='sortList("accountName","string")'>
          交易员姓名
          <img src="./assets/images/sort.png" alt="" class='sortIcon'>
        </th>
      </tr>
      <tr *ngFor='let a of list;let i = index' class="{{a.appointTypeDesc === '买入'?'red':'green'}}">
        <td>
          {{i + 1}}
        </td>
        <td>
          {{a.dealTime}}
        </td>
        <td>
          {{a.tradeId}}
        </td>
        <td class="wtbh">
          {{a.appointOrderCode}}
        </td>
        <td>
          {{a.stockCode}}
        </td>
        <td>
          {{a.stockName}}
        </td>
        <td>
          {{a.appointTypeDesc}}
        </td>
        <td>
          {{a.dealCnt}}
        </td>
        <td>
          {{a.dealAvrPrice}}
        </td>
        <td>
          {{a.teamCode}}
        </td>
        <td>
          {{a.productCode}}
        </td>
        <td>
          {{a.accountCode}}
        </td>
        <td>
          {{a.accountName}}
        </td>
      </tr>
    </table>
  </div>

</div>