<div class="">
    <div class="search-div">
      <span>交易账户</span>
      <input type="text" [(ngModel)]='accountCode'>
      <span>委托编号</span>
      <input type="text" [(ngModel)]='appointOrderCode'>
      <span>交易月份</span>
      <input type="month" [(ngModel)]='beginTime'>
      <button class="button" (click)='getList()'>查询</button>
    </div>
    <div class="table-div my-scroll">
      <table class="my-table">
        <tr>
          <th>
            交易员账号
          </th>
          <th>
            交易员姓名
          </th>
          <th>
            日期
          </th>
          <th>
            盈亏值
          </th>
          <th>
            手续费
          </th>
        </tr>
        <tr *ngFor='let a of list'>
          <td>
            {{a.accountCode}}
          </td>
          <td>
            {{a.accountName}}
          </td>
          <td>
            {{a.profitDate | date}}
          </td>
          <td>
            {{a.totalPrice | round}}
          </td>
          <td>
            {{a.commissPrice | round}}
          </td>
        </tr>
      </table>
    </div>
  
  </div>