<div class="header">
  <app-head></app-head>
</div>
<div class="left-menu">
  <app-left-menu></app-left-menu>
  <!-- <div>
    <div class="first-menu {{url === 'tdgl'?'active':''}}" (click)='goto("tdgl")'>
      团队管理
    </div>
    <div *ngIf='teamShow'>
      <div class="second-menu {{teamCode === a.teamCode?'red':''}}" *ngFor='let a of teamList' (click)='selectTeam(a.teamCode)'>
        {{a.teamName}}
      </div>
    </div>
  
    <div class="first-menu {{url === 'cpgl'?'active':''}}" (click)='goto("cpgl")'>
      产品管理
    </div>
    <div *ngIf='proShow'>
      <div class="second-menu {{productCode === a.productCode?'red':''}}" *ngFor='let a of proList' (click)='selectPro(a.productCode)'>
        {{a.productName}}
      </div>
    </div>
  </div> -->
</div>
<div class="right-content">
  <app-right-content></app-right-content>
</div>