<div class="content-table">
  <div class="action-button">
    <button>分票给团队</button>
  </div>
  <div class="table-div my-scroll">
    <table class="my-table">
      <tr>
        <th>
          <input type="checkbox" name="" id="">
        </th>
        <th>
          股票代码
        </th>
        <th>
          股票名称
        </th>
        <th>
          股票数量
        </th>
        <th>
          所属产品
        </th>
        <th>
          已分配数量
        </th>
        <th>
          可分配数量
        </th>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="" id="">
        </td>
        <td>
          33434
        </td>
        <td>
          33434
        </td>
        <td>
          33434
        </td>
        <td>
          33434
        </td>
        <td>
          33434
        </td>
        <td>
          33434
        </td>
      </tr>
    </table>
  </div>
</div>