<div class="">
  <div class="search-div">
    <span> 交易员账户</span>
    <input type="text" [(ngModel)]='userCode'>
    <button class="" (click)='getTeamMember()'>查询</button>
    <button (click)='searchAll()'>查询全部</button>
  </div>
  <div class="action-button">
    <button (click)='add()'>新增</button>
    <button [disabled]='temp===""?true:false' (click)='update()'>修改</button>
    <button [disabled]='temp===""?true:false' (click)='del()'>删除</button>
    <button [disabled]='temp===""?true:false' (click)='reset()'>重置密码</button>
  </div>
  <div class="table-div my-scroll">
    <table class="my-table">
      <tr>
        <th>
          选择
        </th>
        <th>
          交易员账号
        </th>
        <th>
          最大开仓量
        </th>
        <th>
          停机位
        </th>
        <th>
          子账号状态
        </th>
        <th>
          是否自动停机
        </th>
        <th>
          交易佣金
        </th>
        <th>
          总盈亏
        </th>
        <th>
          总成交额
        </th>
        <th>
          盈亏率
        </th>
        <th>
          在线状态
        </th>
      </tr>
      <tr *ngFor='let a of list'>
        <td>
          <input type="radio" name="name" id="" (click)='select(a)'>
        </td>
        <td>
          {{a.accountCode}}
        </td>
        <td>
          {{a.bpLine}}
        </td>
        <td>
          {{a.closingDownLine}}
        </td>
        <td>
          {{a.accountStatusDesc}}
        </td>
        <td>
          {{a.isAutoShutdown === 1?'是':'否'}}
        </td>
        <td>
          {{a.accountCommission}}
        </td>
        <td>
          {{a.profit}}
        </td>
        <td>
          {{a.dealAmount}}
        </td>
        <td>
          {{a.profitRate}}
        </td>
        <td>
          {{a.onlineStatus}}
        </td>
      </tr>
    </table>
  </div>
  <div class="fpjyy-alert" *ngIf='alert'>
    <div class="alert-title">
      {{textType}}交易员
      <img class="close-btn" src="./assets/images/close.png" alt="" (click)='close()'>
    </div>
    <div class="alert-div">
      <div class="flex-alert">
        <div class="flex-name">
          交易账号
        </div>
        <div class="flex-content">
          <input type="text" [(ngModel)]='accountDetail.accountCode' [readonly]='textType === "修改"'>
        </div>
        <div class="flex-name">
          中文名字
        </div>
        <div class="flex-content">
          <input type="text" [(ngModel)]='accountDetail.accountName'>
        </div>
      </div>
      <div class="flex-alert">
        <div class="flex-name" *ngIf='textType !== "修改"'>
          交易员密码
        </div>
        <div class="flex-content" *ngIf='textType !== "修改"'>
          <input type="text" [(ngModel)]='accountDetail.accountPwd'>
        </div>
        <div class="flex-name" *ngIf='textType === "修改"'>
          团队编码
        </div>
        <div class="flex-content" *ngIf='textType === "修改"'>
          <input type="text" [(ngModel)]='code' readonly>
        </div>
        <div class="flex-name">
          BP值
        </div>
        <div class="flex-content">
          <input type="text" [(ngModel)]='accountDetail.bpLine'>
        </div>
      </div>
      <div class="flex-alert">
        <div class="flex-name">
          停机位
        </div>
        <div class="flex-content">
          <input type="text" [(ngModel)]='accountDetail.closingDownLine'>
        </div>
        <div class="flex-name">
          交易佣金
        </div>
        <div class="flex-content">
          <input type="text" [(ngModel)]='accountDetail.accountCommission'>
        </div>
      </div>
      <div class="flex-alert">
        <div class="flex-name">
          子账号状态
        </div>
        <div class="flex-content">
          <select name="" id="" [(ngModel)]='accountDetail.accountStatus'>
            <option value="0">正常</option>
            <option value="1">停机</option>
          </select>
        </div>
        <div class="flex-name">
          是否自动停机
        </div>
        <div class="flex-content">
          <select name="" id="" [(ngModel)]='accountDetail.isAutoShutdown'>
            <option value="1">是</option>
            <option value="0">否</option>
          </select>
        </div>
      </div>
      <div class="button-div">
        <button (click)='addSubmit()'>确定</button>
        <button (click)='close()'>取消</button>
      </div>
    </div>

  </div>

  <div class="fpjyy-alert" *ngIf='resetAlert'>
    <div class="alert-title">
      重置密码
      <img class="close-btn" src="./assets/images/close.png" alt="" (click)='close()'>
    </div>
    <div class="alert-div" style="height: 150px;">
      <div class="flex-alert">
        <div class="flex-name">
          交易账号
        </div>
        <div class="flex-content">
          <input type="text" [(ngModel)]='selectDetail.accountCode' readonly>
        </div>
        <div class="flex-name">
          新密码
        </div>
        <div class="flex-content">
          <input type="text" [(ngModel)]='newPass'>
        </div>
      </div>
      <div class="button-div">
        <button (click)='resetSubmit()'>确定</button>
        <button (click)='close()'>取消</button>
      </div>
    </div>
  </div>

</div>