<div class="">
  <div class="search-div">
    <span> 产品编号</span>
    <input type="text" [(ngModel)]='productCode1'>
    <span> 股票代码</span>
    <input type="text" [(ngModel)]='stockCode1'>
    <button class="button" (click)='search()'>查询</button>
    <button (click)='searchAll()'>查询全部</button>
    <!-- <div class="search-div">
    <span> 交易账户</span>
    <input type="text" [(ngModel)]='userCode'>
    <button class="button" (click)='search()'>查询</button>
    <button (click)='searchAll()'>查询全部</button>
  </div>
  <div class="action-button">
    <button class="button" (click)='fpjyy()' [disabled]='disabled(checkList.length)'>分配给交易员</button>
    <button class="button" (click)='ghcp()' [disabled]='disabled(checkList.length)'>归还给产品</button>
    <!-- <button class="button" (click)='export()'>导出列表</button> -->
  </div>
  <div class="table-div my-scroll">
    <table class="my-table">
      <tr>
        <th>
          <input type="checkbox" name="" id="" (click)='clickAll()' [(ngModel)]='checkedAll'>
        </th>
        <th>
          股票代码
        </th>
        <th>
          股票名称
        </th>
        <th>
          股票数量
        </th>
        <th>
          可分配数量
        </th>
        <th>
          本次分配数量
        </th>
        <th>
          归还产品数量
        </th>
        <th>
          所属团队
        </th>
        <th>
          所属产品
        </th>
      </tr>
      <tr *ngFor='let a of list;let i = index;trackBy:trackBy'>
        <td (click)='checkbox(i)'>
          <input type="checkbox" name="" id="" [(checked)]='a.isChecked'>
        </td>
        <td (click)='checkbox(i)'>
          {{a.stockCode}}
        </td>
        <td (click)='checkbox(i)'>
          {{a.stockName}}
        </td>
        <td (click)='checkbox(i)'>
          {{a.stockCnt}}
        </td>
        <td (click)='checkbox(i)'>
          {{a.ableCnt}}
        </td>
        <td>
          <input type="number" class="table-input" [(ngModel)]='a.bcfp'>
        </td>
        <td>
          <input type="number" class="table-input" [(ngModel)]='a.ghcp'>
        </td>
        <td (click)='checkbox(i)'>
          {{a.teamCode}}
        </td>
        <td (click)='checkbox(i)'>
          {{a.productCode}}
        </td>
      </tr>
    </table>
  </div>
  <div class="fpjyy-alert" *ngIf='alert'>
    <div class="alert-title">
      选择要分配的交易员
      <img class="close-btn" src="./assets/images/close.png" alt="" (click)='close()'>
    </div>
    <div class="alert-div my-scroll">
      <div *ngFor='let a of jyyList' class="{{jyyCode === a.accountCode?'select-acitve':''}}" (click)='selectJYY(a.accountCode)'>{{a.accountName}}</div>
    </div>
    <div class="alert-button-div">
      <button (click)='submitJYY()'>确认</button>
    </div>

  </div>
  <div class="fpjyy-alert" *ngIf='confirm'>
    <app-confirm [text]='confirmText' (active)='submitDelete($event)'></app-confirm>
  </div>
</div>