<div class="">
  <div class="search-div">
    <select name="" id="" [(ngModel)]='selectType'>
      <option value="{{a.id}}" *ngFor='let a of selectList'>{{a.name}}</option>
    </select>
    <input type="text" [(ngModel)]='userCode'>
    <button class="button" (click)='search()'>查询</button>
    <button (click)='searchAll()'>查询全部</button>
  </div>
  <div class="table-div my-scroll dplb">
    <table class="my-table">
      <tr>
        <th>
          产品编号
        </th>
        <th>
          交易员账号
        </th>
        <th>
          交易员姓名
        </th>
        <th>
          委托时间
        </th>
        <th>
          委托编号
        </th>
        <th>
          委托状态
        </th>
        <th>
          股票代码
        </th>
        <th>
          股票名称
        </th>
        <th>
          买卖方向
        </th>
        <th>
          委托价格
        </th>
        <th>
          委托数量
        </th>
        <th>
          成交数量
        </th>
        <th>
          成交均价
        </th>
        <th>
          待平数量
        </th>
        <th>
          当前盈亏
        </th>
        <th>
          团队编号
        </th>
        <th>
          市价
        </th>
        <th style="min-width: 160px;" *ngIf='roleCode!="0"'>
          操作
        </th>
      </tr>
      <tr *ngFor='let a of list' class="{{a.appointTypeDesc === '买入'?'red':'green'}}">
        <td>
          {{a.productCode}}
        </td>
        <td>
          {{a.accountCode}}
        </td>
        <td>
          {{a.accountName}}
        </td>
        <td>
          {{a.appointTime}}
        </td>
        <td class="wtbh">
          {{a.appointOrderCode}}
        </td>
        <td>
          {{a.appointStatusDesc}}
        </td>
        <td>
          {{a.stockCode}}
        </td>
        <td>
          {{a.stockName}}
        </td>
        <td>
          {{a.appointTypeDesc}}
        </td>
        <td>
          {{a.appointPrice}}
        </td>
        <td>
          {{a.appointCnt}}
        </td>
        <td>
          {{a.dealCnt}}
        </td>
        <td>
          {{a.dealAvrPrice}}
        </td>
        <td>
          {{a.uncloseCnt}}
        </td>
        <td>
          {{a.profit}}
        </td>
        <td>
          {{a.teamCode}}
        </td>
        <td>
          {{a.lastPrice}}
        </td>
        <td *ngIf='roleCode != 0'>
          <span *ngIf='a.cancelable' (click)='cancle(a)'>撤单</span>
          <span *ngIf='a.uncloseCnt > 0' (click)='sell(a)'>平仓</span>
          <span *ngIf='a.uncloseCnt > 0' (click)='sell2(a)'>限价平仓</span>
          <span *ngIf='a.removable' (click)='clear(a)'>删除</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="fpjyy-alert" *ngIf='confirm'>
    <app-confirm [text]='confirmText' (active)='submit($event)'></app-confirm>
  </div>
  <div class="fpjyy-alert" *ngIf='resetAlert'>
    <div class="alert-title">
      平仓
      <img class="close-btn" src="./assets/images/close.png" alt="" (click)='close()'>
    </div>
    <div class="alert-content">
      <div class="left-div">
        <div>
          <input class="input" type="text" readonly [(ngModel)]='stockHQ.stockCode'>
          <span class="gpmc">{{stockName}}</span>
        </div>
        <div class="add-down">
          <div class="down" (click)='count(-1)'>-</div>
          <input class="input" type="number" placeholder="卖出价" [(ngModel)]='appointPrice' style="text-align: center">
          <div class="add" (click)='count(1)'>+</div>
        </div>
        <div class="green-red">
          <span class="green-left" (click)='selectPrice(stockHQ.lowPrice)'>跌停 {{stockHQ.priceDownlimit }}</span>
          <span class="red-right" (click)='selectPrice(stockHQ.highPrice)'>涨停 {{stockHQ.priceUplimit }}</span>
        </div>
        <div>
          <input class="input" type="number" placeholder="平仓量" [(ngModel)]='appointCnt'>
          <span class="gpmc">{{fullcount}}股</span>
        </div>
        <div class="four-btn">
          <div class="{{ccount === 'full'?'four-btn-active':''}}" (click)='selectCount("full")'>全仓</div>
          <div class="{{ccount === 'half'?'four-btn-active':''}}" (click)='selectCount("half")'>半仓</div>
          <div class="{{ccount === '1/3full'?'four-btn-active':''}}" (click)='selectCount("1/3full")'>1/3仓</div>
          <div class="{{ccount === '1/4full'?'four-btn-active':''}}" (click)='selectCount("1/4full")'>1/4仓</div>
        </div>
        <div class="buy">
          <div (click)='buy()'>平仓</div>
        </div>
      </div>
      <div class="right-div">
        <p (click)='selectPrice(stockHQ.sellLevel.sellPrice05)'>
          <span>卖5</span>
          <span class="{{HQColor(stockHQ.sellLevel.sellPrice05)}}">{{stockHQ.sellLevel.sellPrice05 | toFixed:stockHQ.stockCode}}</span>
          <span>{{stockHQ.sellLevel.sellVolume05 | numInt:stockHQ.stockCode:stockHQ.stockCode}}</span>
        </p>
        <p (click)='selectPrice(stockHQ.sellLevel.sellPrice04)'>
          <span>卖4</span>
          <span class="{{HQColor(stockHQ.sellLevel.sellPrice04)}}">{{stockHQ.sellLevel.sellPrice04 | toFixed:stockHQ.stockCode}}</span>
          <span>{{stockHQ.sellLevel.sellVolume04 | numInt:stockHQ.stockCode}}</span>
        </p>
        <p (click)='selectPrice(stockHQ.sellLevel.sellPrice03)'>
          <span>卖3</span>
          <span class="{{HQColor(stockHQ.sellLevel.sellPrice03)}}">{{stockHQ.sellLevel.sellPrice03 | toFixed:stockHQ.stockCode }}</span>
          <span>{{stockHQ.sellLevel.sellVolume03 | numInt:stockHQ.stockCode}}</span>
        </p>
        <p (click)='selectPrice(stockHQ.sellLevel.sellPrice02)'>
          <span>卖2</span>
          <span class="{{HQColor(stockHQ.sellLevel.sellPrice02)}}">{{stockHQ.sellLevel.sellPrice02 | toFixed:stockHQ.stockCode}}</span>
          <span>{{stockHQ.sellLevel.sellVolume02 | numInt:stockHQ.stockCode}}</span>
        </p>
        <p (click)='selectPrice(stockHQ.sellLevel.sellPrice01)'>
          <span>卖1</span>
          <span class="{{HQColor(stockHQ.sellLevel.sellPrice01)}}">{{stockHQ.sellLevel.sellPrice01 | toFixed:stockHQ.stockCode}}</span>
          <span>{{stockHQ.sellLevel.sellVolume01 | numInt:stockHQ.stockCode}}</span>
        </p>
        <p class="line"></p>
        <p (click)='selectPrice(stockHQ.buyLevel.buyPrice01)'>
          <span>买1</span>
          <span class="{{HQColor(stockHQ.buyLevel.buyPrice01)}}">{{stockHQ.buyLevel.buyPrice01 | toFixed:stockHQ.stockCode}}</span>
          <span>{{stockHQ.buyLevel.buyVolume01 | numInt:stockHQ.stockCode}}</span>
        </p>
        <p (click)='selectPrice(stockHQ.buyLevel.buyPrice02)'>
          <span>买2</span>
          <span class="{{HQColor(stockHQ.buyLevel.buyPrice02)}}">{{stockHQ.buyLevel.buyPrice02 | toFixed:stockHQ.stockCode}}</span>
          <span>{{stockHQ.buyLevel.buyVolume02 | numInt:stockHQ.stockCode}}</span>
        </p>
        <p (click)='selectPrice(stockHQ.buyLevel.buyPrice03)'>
          <span>买3</span>
          <span class="{{HQColor(stockHQ.buyLevel.buyPrice03)}}">{{stockHQ.buyLevel.buyPrice03 | toFixed:stockHQ.stockCode}}</span>
          <span>{{stockHQ.buyLevel.buyVolume03 | numInt:stockHQ.stockCode}}</span>
        </p>
        <p (click)='selectPrice(stockHQ.buyLevel.buyPrice04)'>
          <span>买4</span>
          <span class="{{HQColor(stockHQ.buyLevel.buyPrice04)}}">{{stockHQ.buyLevel.buyPrice04 | toFixed:stockHQ.stockCode}}</span>
          <span>{{stockHQ.buyLevel.buyVolume04 | numInt:stockHQ.stockCode}}</span>
        </p>
        <p (click)='selectPrice(stockHQ.buyLevel.buyPrice05)'>
          <span>买5</span>
          <span class="{{HQColor(stockHQ.buyLevel.buyPrice05)}}">{{stockHQ.buyLevel.buyPrice05 | toFixed:stockHQ.stockCode }}</span>
          <span>{{stockHQ.buyLevel.buyVolume05 | numInt:stockHQ.stockCode}}</span>
        </p>
      </div>
    </div>
  </div>
</div>
